canvas {
    background-color: black;
    border: solid 2px #555;
}

#canvasesDiv{
    display: flex;
    flex-direction: row;
}

.playerDivs {
    background-color: rgb(28, 94, 44);
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding: 30px;
    width: fit-content;
}

.gameCVs {
}

.otherCVs {
    /*background-color: #253;*/
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-right: 30px;
}

p {
    color: white;
    font-size: 30px;
    margin: 10px;
}